<!--
  ~ VGallery: CMS based on FormsFramework
  ~ Copyright (C) 2004-2015 Alessandro Stucchi <wolfgan@gmail.com>
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  ~
  ~  @package VGallery
  ~  @subpackage core
  ~  @author Alessandro Stucchi <wolfgan@gmail.com>
  ~  @copyright Copyright (c) 2004, Alessandro Stucchi
  ~  @license http://opensource.org/licenses/gpl-3.0.html
  ~  @link https://github.com/wolfgan43/vgallery
  -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.3/jquery.nicescroll.min.js" ></script>
<script>

</script>
<div class="wrapper">
    <nav id="mainmenu" class="sidemenu -inverse -scrollable">
        <div class="sidemenu__head">
            <div class="text-center"> {brand} </div>
            {account}
            {search}
        </div>
            {sidebar} </nav>
    <section id="content">
        <header class="header {fullbar_class}">
            <div class="row header__bar">
                <div class="col-sm-6">{favorite} {tab-header}</div>
                <div class="col-sm-6">{breadcrumb} {multidomain}</div>
            </div>
        </header>
        <section class="pagecontent"> {content} </section>
        <!--BeginSectFooter-->
        <footer class="row footer">
            <div class="footer__copy">
                <p>{_developer_label} <a href="{_developer_url}" target="_blank">{_developer_name}</a></p>
            </div>
        </footer>
        <!--EndSectFooter-->
    </section>
    <div class="overlay"><div>
    </div></div></div>